#include "resource.h"
#include <windows.h>

IDR_GRASSPS		RCDATA "cso/grassPS.cso"
IDR_PS2BUILDINGVS	RCDATA "cso/ps2BuildingVS.cso"
IDR_VEHICLEVS		RCDATA "cso/vehicleVS.cso"
IDR_MOBILEVEHICLEVS	RCDATA "cso/mobileVehicleVS.cso"
IDR_MOBILEVEHICLEPS	RCDATA "cso/mobileVehiclePS.cso"
IDR_SIMPLEPS		RCDATA "cso/simplePS.cso"
IDR_XBOXCARVS		RCDATA "cso/xboxCarVS.cso"
IDR_GRADINGPS		RCDATA "cso/gradingPS.cso"
IDR_PS2CARFXVS		RCDATA "cso/ps2CarFxVS.cso"
IDR_PS2ENVSPECFXPS	RCDATA "cso/ps2EnvSpecFxPS.cso"
IDR_SPECCARFXVS		RCDATA "cso/specCarFxVS.cso"
IDR_SPECCARFXPS		RCDATA "cso/specCarFxPS.cso"
IDR_PS2BUILDINGFXVS	RCDATA "cso/ps2BuildingFxVS.cso"
IDR_IIITRAILSPS		RCDATA "cso/iiiTrailsPS.cso"
IDR_VCTRAILSPS		RCDATA "cso/vcTrailsPS.cso"
IDR_NEOVEHICLEONEVS	RCDATA "cso/neoVehiclePass1VS.cso"
IDR_NEOVEHICLETWOVS	RCDATA "cso/neoVehiclePass2VS.cso"
IDR_XBOXBUILDINGVS	RCDATA "cso/xboxBuildingVS.cso"
IDR_XBOXBUILDINGPS	RCDATA "cso/xboxBuildingPS.cso"
IDR_SIMPLEDETAILPS	RCDATA "cso/simpleDetailPS.cso"
IDR_SIMPLEFOGPS		RCDATA "cso/simpleFogPS.cso"
IDR_SPHEREBUILDINGVS	RCDATA "cso/sphereBuildingVS.cso"
IDR_LEEDSCARFXVS	RCDATA "cso/leedsCarFxVS.cso"
IDR_CONTRASTPS		RCDATA "cso/contrastPS.cso"
IDR_BLURPS		RCDATA "cso/blurPS.cso"
IDR_RADIOSITYPS		RCDATA "cso/radiosityPS.cso"
IDR_ENVCARVS		RCDATA "cso/envCarVS.cso"
IDR_ENVCARPS		RCDATA "cso/envCarPS.cso"
IDR_SIMPLESTOCHASTICPS		RCDATA "cso/simpleStochasticPS.cso"
IDR_SIMPLEDETAILSTOCHASTICPS		RCDATA "cso/simpleDetailStochasticPS.cso"
IDR_XBOXBUILDINGSTOCHASTICPS		RCDATA "cso/xboxBuildingStochasticPS.cso"
IDR_XBOXBUILDINGWINDVS	RCDATA "cso/xboxBuildingWindVS.cso"
IDR_PS2BUILDINGWINDVS	RCDATA "cso/ps2BuildingWindVS.cso"
IDR_SSAOPS		RCDATA "cso/SSAO.cso"
IDR_SMAAPS		RCDATA "cso/SMAA.cso"
IDR_GTAIVPS		RCDATA "cso/GTAIV.cso"
IDR_GTAIVVEHICLEVS	RCDATA "cso/GTAIVVehicleVS.cso"
IDR_GTAIVVEHICLEPS	RCDATA "cso/GTAIVVehiclePS.cso"
IDR_GTAIVBUILDINGVS	RCDATA "cso/GTAIVBuildingVS.cso"
IDR_GTAIVBUILDINGPS	RCDATA "cso/GTAIVBuildingPS.cso"
IDR_GTAIVFPVS		RCDATA "cso/GTAIVForwardPlusVS.cso"
IDR_GTAIVFPPS		RCDATA "cso/GTAIVForwardPlusPS.cso"
IDR_NORMMAPBUILDINGPS	RCDATA "cso/normMapBuildingPS.cso"
IDR_NORMMAPVEHICLEPS	RCDATA "cso/normMapVehiclePS.cso"
IDR_SMAAEDGEPS		RCDATA "cso/SMAA_Edge.cso"
IDR_SMAABLENDWEIGHTPS	RCDATA "cso/SMAA_BlendWeight.cso"
IDR_SMAABLENDNEIGHBORPS	RCDATA "cso/SMAA_BlendNeighbor.cso"
IDR_SMAAEDGENORMALPS	RCDATA "cso/SMAA_EdgeNormal.cso"
IDR_SMAATEMPPS		RCDATA "cso/SMAA_Temporal.cso"
IDR_SMAAEDGECOMBINEDPS	RCDATA "cso/SMAA_EdgeCombined.cso"
IDR_SMAAEDGEMOTIONDEPTHPS	RCDATA "cso/SMAA_EdgeMotionDepth.cso"
IDR_MOTIONBLUR_BURNOUT	RCDATA "cso/MotionBlur_Burnout.cso"
IDR_SSAO_VERTEXDEPTH	RCDATA "cso/SSAO_VertexDepth.cso"
IDR_COLORFILTER_CROSSMIX	RCDATA "cso/ColorFilter_CrossMix.cso"
IDR_EDGETESSELLATIONVS	RCDATA "cso/EdgeTessellationVS.cso"
IDR_SSS_BLUR		RCDATA "cso/SSS_Blur.cso"
IDR_SKINENHANCE		RCDATA "cso/SkinEnhance.cso"
IDR_HAIRENHANCE		RCDATA "cso/HairEnhance.cso"
IDR_VEHICLEPAINT_GTAIV	RCDATA "cso/VehiclePaint_GTAIV.cso"
IDR_WATER_PARALLAX	RCDATA "cso/Water_Parallax.cso"
IDR_METALNESS_PBR	RCDATA "cso/Metalness_PBR.cso"
IDR_VEHICLEPBR_MODERN	RCDATA "cso/VehiclePBR_Modern.cso"